html, body {
  height: 100%;
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}