/* ボタンエリア全体 */
#buttonArea {
  flex: 1.5;
  overflow-y: auto;
  padding: 10px;
}

/* Otherタブ時の背景 */
#buttonArea.other-mode {
  background: #16213e;
}

/* ---------------- */
/* 表示順切り替えボタン */
/* ---------------- */

.song-controls {
  padding: 5px 12px;
}

.sort-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}

.sort-btn {
  flex: 1;
  padding: 8px 8px;
  border-radius: 24px;
  border: 2px solid #1f3a45;
  background: #142a33;
  color: #aaa;
  font-weight: 450;
  font-size: 17px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sort-btn.active {
  background: #006688;
  color: white;
  border-color: #00bcd4;
  font-weight: 600;
}

/* ---------------- */
/* 曲リストタブ */
/* ---------------- */

#songs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#songs button {
  font-size: 20px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #333;
  color: white;
}

#songs button:active {
  background: #555;
}

/* ---------------- */
/* その他タブ */
/* ---------------- */

.other-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 16px;
}

.other-btn {
  font-size: 18px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #444;
  color: white;
}

.other-btn:active {
  background: #666;
}

/* ---------------- */
/* Free Word */
/* ---------------- */

.freeword-area {
  display: flex;
  gap: 8px;
}

#freeWordInput {
  flex: 1;
  font-size: 18px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
}

#freeWordAddBtn {
  font-size: 18px;
  padding: 14px 18px;
  border-radius: 10px;
  border: none;
  background: #006688;
  color: white;
}

/* --------------------------------- */
/* リスト外の曲の手入力テキストボックス */
/* --------------------------------- */

.song-freeword-area {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  position: sticky;
}

#songFreeInput {
  flex: 1;
  font-size: 18px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
}

#songFreeAddBtn {
  font-size: 18px;
  padding: 14px 18px;
  border-radius: 10px;
  border: none;
  background: #006688;
  color: white;
}