/* ボタンエリア */
#buttonArea {
  flex: 1.5;
  overflow-y: auto;
  padding: 10px;
}

#songs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#songs button {
  font-size: 20px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #333;
  color: white;
}

#songs button:active {
  background: #555;
}
