/* セトリ */
#setlistArea {
  flex: 0.5;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #333;
}

#setlistAreaInner {
  padding-bottom: 0; /* JSで上書きする */
}

#list {
  font-size: 20px;
  line-height: 1.4;
}