#tabBar {
  display: flex;
  gap: 8px;
  padding: 8px 10px 0;
}

.tab {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px 12px 0 0;
  border: none;
  background: #222;
  color: white;
}

.tab.active {
  background: #880000;
}

.hidden {
  display: none;
}