#tabBar {
  display: flex;
  gap: 8px;
  padding: 8px 10px 0;
}

#tabBar .tab {
  flex: 1;
  padding: 12px;
  border-radius: 12px 12px 0 0;
  border: none;
  transition: all 0.2s ease;
}

#tabBar .tab:not(.active) {
  font-size: 18px;
  background: #142a33;
  color: #AAAAAA;
  font-weight: bold;

  border: 2px solid #1f3a45;
}

#tabBar .tab.active {
  font-size: 20px;
  background: #006688;
  color: white;
  border: 2px solid #00bcd4;
  border-bottom: 5px solid #00bcd4;
  font-weight: bold;
}