<div id="helpModal" class="modal">
  <div class="modal-content">
    <h2>本ツールについて</h2>
    <p>ライブ会場などで素早くセットリストのメモを記録するための支援ツールです。</p>

    <h2>使い方</h2>

    <h3>事前設定</h3>
    <p>左上メニュー[☰] で、アーティスト選択をしておきます。(一度設定すればブラウザ閉じても保持されます)</p>
    <h3>セットリスト入力操作</h3>
    <ul>
      <li>曲ボタンを押すとセトリに追加</li>
      <li>「←戻る」で最後の曲を削除</li>
      <li>「コピー」でSNS投稿用テキスト生成</li>
    </ul>
    <br>
    <h3>左上メニュー[☰]</h3>
    <ul>
      <li>アーティスト切替</li>
      <li>会場入力 (未記入でもOK)</li>
      <li>ハッシュタグ設定 (未記入でもOK)</li>
      <li>セトリ全削除</li>
    </ul>

    <button class="modal-close" id="helpCloseBtn">閉じる</button>
  </div>
</div>